<div id="page" class="login">
  <form id="login-form" action="/login" method="post">
    <div class="label">
      <label for="admin-login">Username</label>
      <input id="admin-login" name="login" type="text"/>
    </div>
    <div class="label">
      <label for="admin-password">Password</label>
      <input id="admin-password" name="password" type="password"/>
    </div>
    <div class="submit">
      <input value="Login" type="submit"/>
    </div>
  </form><!-- #login-form -->
</div><!-- #page -->