#page.login
  %form#login-form{ :action => "/login", :method => "post" }
    .label
      %label{ :for => "admin-login" } Usuário
      %input{ :id => "admin-login", :name => "login", :type => "text" }
    .label
      %label{ :for => "admin-password" } Senha
      %input{ :id => "admin-password", :name => "password", :type => "password" }
    .submit
      %input{ :value => "Entrar", :type => "submit" }
