#page
  -if @post.new_record?
    %h1.page-title New post
  -else
    %h1.page-title Edit post
  %form{ :action => (@post.new_record? ? "/admin/new-post" : "/admin/edit-post/#{@post.id}"), :method => "post" }
    -unless @post.new_record?
      %input{ :type => "hidden", :name => "_method", :value => "put" }
    .label
      %label{ :for => "post-title" } Title
      %input{ :id => "post-title", :name => "post[title]", :type => "text", :value => @post.title }
    .label
      %label{ :for => "post-content" } Content (markdown)
      %textarea{ :id => "post-content", :name => "post[content]" } #{@post.content}
    .submit
      %input{ :value => (@post.new_record? ? "Create post" : "Update post"), :type => "submit" }
