<div id="page">
  <p>Welcome to The Blog admin setup. Please provide the following information:</p>
  <form id="login-form" action="/setup" method="post">
    <div class="label">
      <label for="admin-login">Username</label>
      <input id="admin-login" name="login" type="text"/>
    </div>
    <div class="label">
      <label for="admin-password">Password</label>
      <input id="admin-password" name="password" type="password"/>
    </div>
    <div class="label">
      <label for="admin-password-confirmation">Password confirmation</label>
      <input id="admin-password-confirmation" name="password_confirmation" type="password"/>
    </div>
    <div class="submit">
      <input value="Create admin" type="submit"/>
    </div>
  </form><!-- #login-form -->
</div><!-- #page -->
