!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %title Lenon Marcel #{if @title.nil? then ' | Blog' else ' | ' + @title end}
    %link{ :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Arvo" }
    %link{ :rel => "stylesheet", :href => "/stylesheets/app.css" }
    -if current_user
      %script{ :src => "/javascripts/admin.js" }
  %body
    #container{ :dir => "ltr" }
      %header#header
        #header-inner
          %hgroup#branding
            %a{ :href => "/" }
              %h1#site-title Lenon Marcel
              %h2#site-description o meu próprio blog
          %ul#nav{ :role => "navigation" }
            -if current_user
              %li.logged_in
                %a{ :href => "/admin" } dashboard
              %li.logged_in
                %a{ :href => "/logout" } logout
            %li
              %a{ :href => "https://github.com/lenon" } github
            %li
              %a{ :href => "https://twitter.com/lenonm" } twitter
            %li
              %a{ :href => "https://facebook.com/lenon" } facebook
      #main{ :role => "main" }
        -if flash[:notice]
          .flash-message.notice=flash[:notice]
        -if flash[:alert]
          .flash-message.alert=flash[:alert]
        =yield
      %footer#footer
        &copy #{Time.now.year} Lenon Marcel
        \/ Fork my blog on
        %a{ :href => "https://github.com/lenon/blog" } github
        \/ powered by
        %a{ :href => "http://www.mongodb.org" } MongoDB
