<!DOCTYPE html>
<html>
<head>
    <title>Blog Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= asset_url("admin.css") %>">
</head>
<body>
    <% if current_admin %>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/admin">Blog Dashboard</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/admin/new-post">New post</a></li>
                    <li><a href="/">Blog home</a></li>
                    <li><a href="/admin/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <% end %>

    <div id="main">
        <%= yield %>

        <hr>

        <footer class="text-muted text-center">
            <p>&copy; <%= Time.now.year %> Lenon Marcel.
            Source-code available on <a href="https://github.com/lenon/blog">Github</a>.
            <br>
            Powered by <a href="http://www.mongodb.org">MongoDB</a> and
            <a href="http://www.sinatrarb.com">Sinatra</a>.</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
</body>
</html>

