<div id="preview">
  <div id="preview-loading" class="alert-message">Loading preview...</div>
  <h1 id="preview-title" class="post-title"></h1>
  <div id="preview-content" class="text"></div>
</div><!-- #preview -->
