@charset "UTF-8";
@import "reset";

$layout_width : 1000px;
$reduced_width : 980px;

@mixin fixed-width($width : $layout_width) {
  width: $width;
  margin: 0 auto;
}

/* General */

body {
  font: 13px/18px Arial, sans-serif;
  background: #f0f0f0;
  color: #333;
}

a {
  color: brown;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

/* Forms */

input, button, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix (http://nicolasgallagher.com/micro-clearfix-hack/) */
/* For modern browsers */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
  zoom: 1;
}

/* Header */

#header {
  background: brown;
  color: #fff;
  text-shadow: 1px 1px #000;
  border-bottom: 1px solid #000;

  a {
    color: #fff;
  }
}

#header-inner {
  @include fixed-width($reduced_width);
  padding: 20px 0;
  height: 30px;
}

/* Branding */

#branding {
  float: left;

  a {
    display: block;
  }
}

#site-title {
  font: 24px/30px Arvo, Arial, sans-serif;
}

#site-title,
#site-description {
  display: inline-block;
  vertical-align: middle;
}

/* Menu */
#nav {
  float: right;

  li {
    float: left;
    padding-left: 5px;
  }

  a {
    display: block;
    padding: 4px 6px;
    background: #942525;
    border-radius: 3px;

    &:hover {
      background: #832121;
    }
  }

  .logged_in a {
    background: #165959;
  }
}

/* Main (mãe, pros leigos) */

#main {
  @include fixed-width;
  padding-top: 15px;
}

/* Pages */

.post,
#page,
#not-found,
#admin-page {
  padding: 10px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-color: #e9e9e9 #ddd #ddd #e9e9e9;
  margin-bottom: 10px;
}

/* Page titles */

.post-title,
.page-title,
.section-title {
  font: 20px/24px Arvo, Arial, sans-serif;
  padding-bottom: 10px;
}

.section-title {
  font-size: 18px;
}

  .post-title {
    /*border-bottom: 1px dashed #ddd;
    margin-bottom: 14px;*/
  }

/* Flash messages */

.flash-message {
  padding: 8px;
  margin-bottom: 5px;
  text-shadow: 1px 1px #000;

  &.notice {
    color: #FFFFFF;
    background: #3D81A1;
  }

  &.alert {
    color: #FFFFFF;
    background: #D8000C;
  }
}

/* Footer */

#footer {
  @include fixed-width;
  padding: 10px 0 30px 0;
  text-align: center;
  color: #a5a5a4;

  a {
    color: #777;
  }
}

/* 404 - Not found page */

#not-found {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Login page */

#page.login {
  padding-top: 40px;
  padding-bottom: 40px;
}

#login-form {
  width: 200px;
  text-align: right;
}

/* The Admin Area */

#admin-page {
  .section {
    width: 50%;
  }

  table {
    width: 100%;

    a {
      color: darkcyan;
    }
  }

  td {
    padding: 5px;

    &.action {
      text-align: center;
    }
  }

  tr {
    background: #f5f5f5;

    &:nth-child(2n+1) {
      background-color: #eee;
    }
  }

  form {
    .label {
      padding-bottom: 10px;
    }

    label {
      display: block;
      padding: 0 0 4px 0;
    }

    input[type=text],
    textarea {
      display: block;
      width: 100%;
      font: 13px/18px Arial, sans-serif;
      padding: 4px;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0;
    }

    textarea {
      min-height: 200px;
      resize: none;
    }
  }
}

/* Form for edit or create posts */

#post-form {
  float: left;
  width: 50%;
}

/* Post preview */

#preview {
  float: right;
  width: 50%;
}

#preview-inner {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px dashed #aaa;
}

#preview-loading {
  color: #000;
  text-align: center;
  font-style: italic;
}

/* Delete post form confirmation */

#delete-post {
  padding-top: 20px;
}

/* Text styles */

.text {
  font: 14px/20px Arial, sans-serif;
  color: #404040;

  h1, h2, h3, h4, h5, h6 {
    font: normal 1.6em/1.3em Arial, sans-serif;
    margin-bottom: 0.4em;
  }

  h1 { font-size: 1.5em; }
  h2 { font-size: 1.4em; }
  h3 { font-size: 1.3em; }
  h4 { font-size: 1.2em; }
  h5 { font-size: 1.1em; }
  h6 { font-size: 1em; }

  p, ul, ol, pre {
    margin-bottom: 0.9em;
  }

  ul {
    list-style: disc inside;
    margin-left: 10px;
  }

  li {
    margin-bottom: 0.4em;
  }

  pre, code {
    font: normal 13px/18px monospace;
    background: #eee;
  }

  pre {
    padding: 5px;
    display: block;
  }
}

.post-meta {
  margin-bottom: 10px;
  color: #A5A5A4;

  iframe {
    border: none;
    overflow: hidden;
    width: 100px;
    height: 20px;
  }

  .post-time {
    margin-right: 10px;
  }

  iframe,
  .post-time {
    display: inline;
    vertical-align: middle;
  }
}
