<h1 class="page-title">Do you really want to delete &#8220;<%= @post.title %>&#8221;?</h1>
<p>This action cannot be undone.</p>
<form id="delete-post" action="/admin/delete-post/<%= @post.id %>" method="post">
  <div>
    <input value="Yes, I want to delete this post" type="submit"/>
    or <a href="/admin">No, get me out of here!</a>
  </div>
</form><!-- #delete-post -->
