defaults: &defaults
  cookie_key       : "blogsession"
  cookie_secret    : "<PLEASE CHANGE ME>"
  blog_domain      : "example.com"
  assets_domain    : "example.com"
  blog_title       : "My Blog"
  blog_description : "Blog description"
  blog_home_title  : "my blog"
  blog_post_title  : "%s | my blog"

development:
  <<: *defaults
  blog_domain: "localhost"

production:
  <<: *defaults
