defaults: &defaults
  cookie_secret: "<PLEASE CHANGE ME>"
  default_domain: lenonmarcel.com.br
  domains:
    - lenonmarcel.com.br
    - math.lenonmarcel.com.br

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
