worker_processes 2
user "blog", "blog"
working_directory "/home/blog/app/current"
listen "/home/blog/app/shared/sockets/unicorn.sock", backlog: 64
timeout 15
pid "/home/blog/app/shared/pids/unicorn.pid"
stderr_path "/home/blog/app/shared/log/unicorn.stderr.log"
stdout_path "/home/blog/app/shared/log/unicorn.stdout.log"