<main class="home content" role="main">

    <% @posts.each do |post| %>

        <article class="preview">
            <header>
                <h1 class="post-title"><a href="<%= url "/post/#{post.slug}" %>"><%= h post.title %></a></h1>
                <div class="post-meta"><time><%= I18n.l post.created_at, :format => :long %></time></div>
            </header>
        </article>

    <% end %>

</main>

