<a href="#menu" class="show-for-small toggle-menu">&#9776;Menu</a>
<nav id="menu" class="hide-for-small">
  <h4>social&darr;</h4>
  <ul>
    <li><a href="https://github.com/lenon">github</a></li>
    <li><a href="https://twitter.com/lenonm">twitter</a></li>
    <li><a href="https://facebook.com/lenon">facebook</a></li>
    <li><a href="https://www.linkedin.com/in/lenonmarcel">linkedin</a></li>
  </ul>
  <!-- <h4>outros blogs&darr;</h4>
  <ul>
    <li><a href="http://math.lenonmarcel.com.br">Matemática</a></li>
    <li><a href="http://ideias.lenonmarcel.com.br">Ideias</a></li>
  </ul> -->
  <% if current_admin %>
  <h4>admin&darr;</h4>
  <ul class="admin-menu">
    <li><a href="/admin">dashboard</a></li>
    <li><a href="/admin/new-post">new post</a></li>
    <li><a href="/admin/logout">logout</a></li>
  </ul>
  <% end %>
</nav>
